*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.ant-typography {
  margin-bottom: 0 !important;
  font-family: 'Nunito', sans-serif;

}

html {
  scroll-behavior: smooth;
}

.ant-dropdown-menu { 
  width: 200px;
}